@{
	ViewData["Title"] = "SanPhamTheoLoai";
	Layout = "~/Views/Shared/_OganyLayout.cshtml";
}
@model X.PagedList.IPagedList<TDanhMucSp>
@using X.PagedList.Mvc.Core;

@foreach (var item in Model)
{
	@await Html.PartialAsync("_PartialSanPham", item)

}
<div class="product__pagination">
	@Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new {page = page, maloai=ViewBag.maloai}))
</div>
